h2 {
    margin-top: 25px;
}
.card {
    background: white;
    margin-top: 40px;
    padding: 33px;
}
.headerRow {
    background: #F5F6FA;
    color: #7E7F7F;
    padding: 10px 4px;
    border-radius: 10px;
}
.allOrdersContainer {
    margin-top: 40px;
    padding: 33px;
    background: #F4F7FC;
    height: 100vh;
}
.orderListContainer {
    background: white;
    padding: 20px;
    border-radius: 20px;
    height: 90vh;
}
@media only screen and (max-width: 991px) {
    .orderListContainer span {
        font-size: 13px;

    }
}