.siteLogo {
    display: block;
    width: 80%;
    max-width: 80%;
}
.wrappingContainer a{
    color: black;
    display: block;
    margin-top: 20px;
    padding: 5px;
    font-weight: 500;
}
.wrappingContainer a:hover {
    text-decoration: none;
    color: rgb(80, 128, 230);
}

@media only screen and (max-width: 991px) {
    .adminNavFirstLink {
        margin-top: 0;
    }
}