body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body a:hover {
  text-decoration: none;
}
.owl-theme .owl-dots .owl-dot span {
  background: #242A65 !important;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #FBD062 !important;
}